.features {
  background-color: rgba(255, 101, 132, 0.2);
  display: flex;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
}

.features__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1300px;
  margin: 0 auto;
}

.purpleText {
  color: #756dff;
}

.discovering__link {
  display: flex;
  align-items: center;
  /* text-decoration: underline; */
  color: #756dff;
  font-size: 18px;
  font-weight: 600;
}

.arrow__link {
  margin-left: 12px;
}

.features__mainText {
  font-size: 48px;
}

.features__subText {
  margin-top: 32px;
  font-size: 18px;
  width: 80%;
  text-align: left;
  line-height: 1.8;
}

.featuresText__container {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.cards__container {
  width: 50%;
  margin-left: 40px;
}

.link__container {
  margin-top: 24px;
}

.deck {
  /* position: relative; */
  width: 100%;
  display: flex;
  justify-content: flex-start;
  margin-bottom: 56px;
}

.cardOne {
  position: relative;
  z-index: 4;
}
.cardTwo,
.cardThree {
  position: absolute;
  top: 75px;
  left: 150px;
  z-index: 5;
}

.cardBg {
  position: absolute;
  top: 75px;
  left: 20px;
  z-index: -1;
}

.blob {
  position: absolute;
  top: -48px;
  left: 186px;
}

@media (max-width: 1079px) {
  .featuresText__container {
    width: 50%;
  }
  .features__mainText {
    font-size: 36px;
    width: 100%;
  }
  .features__subText {
    font-size: 16px;
    width: 100%;
  }
  .horizontal__card--wrapper {
    width: 180px !important;
    height: 300px !important;
  }
  .horizontal__card {
    width: 180px !important;
  }
  .cards__container {
    width: 50%;
    margin-left: 56px;
  }

  .songText__container {
    margin: 0 0 8px 0;
  }

  .song__title--text,
  .artist__name--text {
    font-size: 12px !important;
  }

  .cardTwo,
  .cardThree {
    top: 60px;
    left: 128px;
  }
  /* .card__background {
    width: 300px;
  }
*/
}

@media (max-width: 956px) {
  .cards__container {
    margin-left: 48x;
  }
  .cardTwo,
  .cardThree {
    top: 55px;
    left: 110px;
  }
}

@media (max-width: 895px) {
  .cardTwo,
  .cardThree {
    left: 100px;
  }
}

@media (max-width: 845px) {
  .cardTwo,
  .cardThree {
    left: 90px;
  }
}

@media (max-width: 810px) {
  .cardTwo,
  .cardThree {
    top: 45px;
    left: 80px;
  }
}

@media (max-width: 768px) {
  .features__wrapper {
    flex-direction: column-reverse;
  }
  .cards__container {
    margin: unset;
  }
  .cardTwo,
  .cardThree {
    top: 25px;
    left: 70px;
  }
  .features__mainText {
    text-align: center;
    margin-top: 24px;
  }
  .features__subText {
    text-align: center;
  }
  .discovering__link {
    justify-content: center;
  }
  .cards__container {
    width: 100%;
    justify-content: center;
    margin-left: 45%;
  }
}
