footer {
  background-color: #232323;
  height: 200px;
  display: flex;
}
.footer__container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.footer__image {
  width: 200px;
}

.footer__links--container {
  display: flex;
  justify-content: space-between;
}
.footer__link {
  margin: 0 12px;
  color: white;
}
.copyright__text {
  color: white;
  margin-top: 24px;
}

@media (max-width: 768px) {
  footer {
    height: 150px;
  }
}
