.horizontal__card {
  width: 205px;
  background-color: white;
  border-radius: 5px;
}

.horizontal__card:hover {
  -webkit-transform: scale(0.98);
  -ms-transform: scale(0.98);
  transform: scale(0.98);
}

.song__img {
  width: 100%;
  height: 170px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.horizontal__card--wrapper {
  height: 320px;
  display: flex;
  width: 205px;
  border-radius: 5px;
  flex-direction: column;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
}

.text__container {
  margin-top: 16px;
  margin-left: 8px;
  text-align: left;
  cursor: default;
}

.song__title--text {
  font-size: 16px;
  margin-bottom: 8px;
}

.artist__name--text {
  font-weight: 400;
  font-size: 16px;
  margin-top: 24px;
}

.controls__container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 16px;
  color: rgb(59, 49, 49);
}

.musicCard__songLink {
  text-decoration: none;
  color: #000;
}
